@namespace ADAPH.TxSubmit.Shared
<MudBreakpointProvider OnBreakpointChanged="@OnBreakPointChanged">
	@if (Outputs is not null)
	{
		@foreach (var output in Outputs)
		{
			<MudListItem class="d-flex flex-col">
				<MudText Align="@Align.Left" Class="word-break">@output.Address</MudText>
				@if (output.Amount is not null)
				{
					@foreach (var asset in Utils.GetAdaAssets(output.Amount))
					{
						<MudText Align="@TokenTextAlign" Class="mt-2 word-break" Color="@Color.Success">
							<b>@asset.Quantity</b>
							<span>@asset.Unit</span>
						</MudText>
					}

					@foreach (var asset in Utils.GetOtherAssets(output.Amount))
					{
						<MudText Align="@TokenTextAlign" Class="word-break native-asset-color">
							<b>@asset.Quantity</b>
							<span>@(Utils.FormatUnitText(asset.Unit))</span>
						</MudText>
					}
				}
			</MudListItem>
		}

	}
	</MudBreakpointProvider>